<!-- app/views/pages/about.html.erb -->
<div class="row justify-content-center" style="background-color:white;">
  <div class="col-12 col-lg-10">
    <h1>About rettiwT Social Media Project</h1></br>
    <p>This project is a simple clone of Twitter, built using Rails 6. It serves as a demonstration of my capabilities in web development, specifically in creating dynamic web applications.</p></br>

    <p>The application allows users to create, view, and interact with tweets, showcasing essential features like retweeting, commenting, and liking. Designed with a focus on user experience, the interface is crafted using HTML and SCSS.</p></br>

    <p>This project highlights my skills in Ruby on Rails, basic front-end development, and my understanding of building user-centric applications.</p>
  </div>
</div>
