.navbar-left {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-left: 100px;
  padding-top: 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.navbar-logo-image {
  width: 40px;
  margin-right: 8px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
  color: #14171a;
}

.navbar-list-button-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.navbar-list-button {
  text-decoration: none;
  color: white;
  background-color: gray;
  padding: 8px 10px;
  text-align: center;
  border-radius: 16px;
  transition: background-color 0.3s;
}

.navbar-list-button:hover {
  background-color: rgb(184, 182, 182);
}

.navbar-list-user-profile {
  display: flex;
  align-items: center;
  font-size: 11px;
}

.navbar-list-user-profile:hover {
  background-color: #f0f0f0;
}

.navbar-list-user-profile-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.navbar-list-user-profile div {
  margin-left: 5px;
}
