// Your CSS partials
@import "components/index";

@import "profile";
@import "footer";
@import "custom";
@import "tweet";
@import "tweet_show";

.page-container {
  display: flex;
  height: 100vh;
}

.navbar-container {
  width: 20%;
  background: white;
  border-right: 1px solid #ddd;
  padding: 20px 10px;
  position: relative;
}

.content-container {
  width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer-container {
  width: 20%;
  background: #f8f9fa;
  padding: 10px;
  position: relative;
}
