.footer__data {
  flex: 1;
  margin: 0 1rem;

  @media (max-width: 768px) {
    margin: 1rem 0;
  }
}

.footer__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer__text {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #657786;
}

.footer__link {
  color: #1da1f2;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #0c7abf;
  }
}

.footer__social {
  margin: 0 10px;
  font-size: 24px;
  color: #1da1f2;
}

.footer__social:hover {
  color: #0c7abf;
}
